<li>
  <article class='flex flex-col mx-3 bg-cyan-500/50'>
    <div class='flex justify-between items-center bg-cyan-600'>
      <h3>{{title}}</h3>
      <small class='text-slate-700/70'>{{date_created}}</small>
    </div>
    <p class='p-3'>{{content}}</p>
  </article>
</li>